@font-face {
    font-family: "bitter";
    src: url('..//fonts//Bitter/Bitter.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "playfair_display";
    src: url('..//fonts//Playfair_Display/PlayfairDisplay-Medium.ttf');
    font-weight: 500;
}

html {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 700;
    line-height: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
}

button {
    margin:50px auto 60px;
    display: block;
}

.title {
    font-family: "playfair_display", sans-serif;
    font-size: 86px;
    font-weight: 500;
    margin-bottom: 14px;
    text-align: center;
 }

.subtitle {
    font-size: 18px;    
    text-align: center;    
} 

.background {
    
    margin-bottom: 135px;
    padding-top: 137px;
    padding-bottom: 138px; 
    position: relative;
    margin: 0px auto 149px;
    width: 73.95%;
    height: 630px;
    background-image: url('..//img/studio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }

.box {
    background-color: #FFFFFF;
    width: 52.3%; 
    padding-top: 130px;
    padding-bottom: 90px;
    padding-left: 70px;
    padding-right: 69px;  
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.about {
    position: relative;
    max-width: 1440px;
    margin: 0 auto 150px;
    display: flex;
    gap: 147px;
    justify-content: center;
    align-items: flex-end;
   }

.img {
    margin-left: 135px;
}
.desc {
    display: flex;
    flex-direction: column;
    margin-right: 135px;
}

.about-title {
    position: absolute;
    top: 0px;
    left: calc(50%-1065/2 -0.5px);
    writing-mode:sideways-lr;
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

blockquote {
    font-family: "bitter", sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 170px;
}

.text::before {
    content: "";
    width: 14px;
    height: 4px;
    display: block;
    margin-bottom: 17px;
    background-color: black;
}

.name {
    font-family: "playfair_display", sans-serif;
    font-size: 87px;
    font-weight: 300;
    margin-bottom: 25px;
}

.discription {
    font-size: 18px;
    font-weight: 500;
    list-style-type: none;
    display:flex;
    gap: 2px;
    padding: 0%;
    flex-wrap: wrap;
}

.items {
    margin-bottom: 60px;
}


.items::after {
    content:"/";
}

.items:last-child::after {
    content: "";
}

.testimonials_section {
    max-width: 1440px;
    margin: 0 auto 170px;
    display: grid;
    grid-template-columns: 4% repeat(2, 1fr);
    grid-template-rows: 1fr 84%;
    column-gap: 2.8%;
    row-gap: 40px;
    padding-left: 100px;
    padding-right: 100px; 
}

.subtitle_testimonials {
    grid-row:1;
    grid-column: 2/4;

}
.address {
    padding-top: 70px;
    padding-bottom: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: end;
    grid-row:2;
}

.website {
    transform-origin: top left;
    transform: rotate(-90deg);
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
    font-weight: 400;

}

.brand_image {
    transform-origin: top left;
    transform: rotate(-90deg);
    margin: 0 auto;  
}


.creativity {
    transform-origin: top left;
    transform: rotate(-90deg);
    margin: 0 auto;
}

.testimonials_img {
    grid-row:2;
}

.blockquote_img {
    grid-row:2;
    display: grid;
    grid-template-columns: 37% 40% 15%;
    grid-template-rows: 40% 60%;
}

.quote {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
}

.img_string_bag {
    grid-row: 2;
    grid-column: 2;
}

address {
    font-style: normal;
}

.designers {
    max-width: 1440px;
    margin: 0 auto 160px;
    display: grid;
    grid-template-columns: 50% repeat(2, 25%);
    grid-template-rows: 78px 500px;
    gap: 18px;
    padding-right: 30px;
    padding-left: 70px;
}

.h2_designers {
    grid-column: 2/4;
    grid-row:1;
    transform: rotate(-90deg);
    justify-self: center;
}

.Jess_Wonder {
    grid-column:1;
    grid-row:1/3;
}

.Kameron_Clein {
    grid-column:2;
    grid-row: 2;
}

.about_Kameron,
.about_Louisse,
.about_Jess{
    margin-top: 24px;
}

.about_Jess {
    margin-left: 178px;
}

.Louisse_Red {
    grid-column:3;
    grid-row: 2;
}

.desc {
    font-weight: 400;
    display: inline;
}

.list {
    font-family: "bitter", sans-serif;
    font-size: 34px;
    font-weight: 400;
    list-style-type: none;
    padding-left: 85px;   
}

.strong_points__strengths {
    font-family: "playfair_display";
    font-size: 86px;
    font-weight: 500;
    padding: 5px 9px 0px 9px;
    margin-bottom: 10px;
    
}

.strong_points__h2 {
    writing-mode:sideways-lr;
    font-size: 20px;
}

/* flex */

.strong_points {
    display: flex;
    max-width: 1440px;
    column-gap: 2%;
    align-items: stretch;
    margin: 0 auto 0;
    justify-content: start;
    padding-right: -97px;   
}

.strong_points__col2 {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
}

.strong_points__img_workplace {
    order: -1;
    align-self: self-end;
}

.strong_points__col3 {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.image {
    align-self: flex-end;
}

@supports(display: grid) {
    .strong_points {
        max-width: 1440px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(3, auto) 22%;
        justify-content: space-between;
        column-gap: 2%;
    }

    .strong_points__img_workplace {
        order: -1;
        grid-row: span 2;
        align-self: end;
    }

    .strong_points__col2 {
        grid-column: 2;
        grid-row:1/3;
    }

    .strong_points__col3 {
        grid-column: 3;
        grid-row: 1/3;
    }

    .image {
        grid-column: 4;
        grid-row: 2;
    }
}