@font-face {
    font-family: "bitter";
    src: url('..//fonts//Bitter/Bitter.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "playfair_display";
    src: url('..//fonts//Playfair_Display/PlayfairDisplay-Medium.ttf');
    font-weight: 500;
}

html {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 700;
    line-height: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
}
                                                                /* 1 section */

button {
    margin:50px auto 60px;
    display: block;
}

.title {
    font-family: "playfair_display", sans-serif;
    font-size: 86px;
    font-weight: 500;
    margin-bottom: 14px;
    text-align: center;
 }

.subtitle {
    font-size: 20px;    
    text-align: center;    
} 

.background {
    
    margin-bottom: 136px;
    padding-top: 136px;
    padding-bottom: 134px; 
    position: relative;
    margin: 0px auto 149px;
    width: 73.95%;
    height: 630px;
    background-image: url('..//img/studio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }

.box {
    background-color: #FFFFFF;
    width: 56.6%; 
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 20px;
    padding-right: 20px;  
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.about {
    position: relative;
    max-width: 1440px;
    margin: 0 auto 150px;
    display: flex;
    gap: 10.2%;
    justify-content: center;
    align-items: flex-end;
}

.about__img_katya_mills {
    height: 840px;
    margin-left: 135px;
}

.desc {
    display: flex;
    flex-direction: column;
    margin-right: 135px;
}

.about-title {
    position: absolute;
    top: 0px;
    font-size: 20px;
    transform: rotate(-90deg) translate(-30px, 15px);
}

h2 {
    font-size: 20px;
}

blockquote {
    font-family: "bitter", sans-serif;
    font-size: 26px;
    font-weight: 400;
}

.text {
    margin-bottom: 165px;
}

.text::before {
    content: "";
    width: 14px;
    height: 4px;
    display: block;
    margin-bottom: 17px;
    background-color: black;
}

.name {
    font-family: "playfair_display", sans-serif;
    font-size: 87px;
    font-weight: 300;
    margin-bottom: 20px;
}

.discription {
    font-size: 18px;
    font-weight: 500;
    list-style-type: none;
    display:flex;
    gap: 2px;
    padding: 0%;
    flex-wrap: wrap;
}

.about__ul {
    margin-bottom: 60px;
}


.items::after {
    content:"/ ";
}

.items:last-child::after {
    content: "";
}

                                                        /* 4 section */

.testimonials_section {
    max-width: 1440px;
    margin: 0 auto 170px;
    display: grid;
    grid-template-columns: 4% repeat(2, 1fr);
    grid-template-rows: 1fr 84%;
    column-gap: 1.9%;
    row-gap: 40px;
    padding-left: 9%;
    padding-right: 100px; 
}

.subtitle_testimonials {
    grid-row:1;
    grid-column: 1/4;

}
.address {
    padding-top: 70px;
    padding-bottom: 15px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: end;
    grid-row:2;
}

.website {
    transform-origin: top left;
    transform: rotate(-90deg);
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
    font-weight: 400;

}

.brand_image {
    transform-origin: top left;
    transform: rotate(-90deg);
    margin: 0 auto;  
}


.creativity {
    transform-origin: top left;
    transform: rotate(-90deg);
    margin: 0 auto;
}

.testimonials__img_cafe {
    height: 757px;
    grid-row:2;
}

.blockquote_img {
    grid-row:2;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: repeat(2, 50%);
    justify-items: center;
    padding-top: 35px;
}  

.quote {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    font-size: 32px; 
}

.testimonials__img_string_bag {
    height: 333px;
    grid-row: 2;
    grid-column: 2;
    transform: translate(5px, -10px);
}

address {
    font-style: normal;
}

                                                          /* 3 section */

.designers {
    height: 625px;
    max-width: 1440px;
    margin: 0 auto 150px;
    display: grid;
    grid-template-rows: 90px 520px;
    row-gap: 5px;
    column-gap: 0.7%;
    padding-right: 2.1%;
    padding-left: 3.5%;
    overflow: auto;
}

.h2_designers {
    grid-column: 2/4;
    grid-row:1;
    transform: rotate(-90deg) translateY(10px);
    justify-self: center;
}

.Jess_Wonder {
    grid-column:1;
    grid-row:1/3;
    margin-left: 25px;
}

.Kameron_Clein {
    grid-column:2;
    grid-row: 2;
   
}

.about_Kameron,
.about_Louisse,
.about_Jess{
    margin-top: 20px;
}

.about_Jess {
    margin-left: 310px; 
}

.Louisse_Red {
    grid-column:3;
    grid-row: 2;
}

.desc__weight {
    font-weight: 400;
}


                                                        /* 5 section */

.list {
    font-family: "bitter", sans-serif;
    font-size: 34px;
    font-weight: 400;
    list-style-type: none;
    padding-left: 85px;   
}

.strong_points {
    max-width: 1440px;
    overflow: auto;
}

.strong_points__strengths {
    font-family: "playfair_display";
    font-size: 86px;
    font-weight: 500;
    padding-left: 9px;
    padding-right: 9px;
}

.strong_points__h2 {
    font-size: 20px;
    transform: translate(20px) rotate(-90deg);
    transform-origin: bottom left;
}

/* flex */

.strong_points {
    display: flex;
    max-width: 1440px;
    column-gap: 2%;
    align-items: flex-end;
    margin: 0 auto 0;
    justify-content: start;
}

.strong_points__col2 {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
}

.strong_points__img_workplace {
    order: -1;
    align-self: self-end;
}

.strong_points__col3 {
    display: flex;
    flex-direction: column;
    row-gap: 25px;   
}

.list {
    flex-basis: 525px;
}


@supports(display: grid) {
    .strong_points {
        max-width: 1440px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(3, auto) 22%;
        justify-content: space-between;
        column-gap: 2%;
    }

    .strong_points__img_workplace {
        order: -1;
        grid-row: span 2;
        align-self: end;
    }

    .strong_points__col2 {
        grid-column: 2;
        grid-row:1/3;
    }

    .strong_points__col3 {
        grid-column: 3;
        grid-row: 1/3;
    }

    .image {
        grid-column: 4;
        grid-row: 2;
    }

    .strong_points__img_armchair {
        grid-column: 2;
        grid-row: 2;
    }

    .strong_points__h2 {
        transform: translate(20px, 40px) rotate(-90deg);
    }
}

footer {
    display: none;
}